<meta data-import="/components/game-render/display-settings.html" />
<meta data-import="/components/game-render/render-area.html" />
<script type="importmap">
    {
        "imports": {
            "three": "/three/build/three.module.js",
            "three/addons/": "/three/examples/jsm/",
            "topology/": "/topology/"
        }
    }
</script>
<!-- <script id="SCRIPT-r3d" type="module" src="render3.js"></script> -->
<meta data-raw-tag="script" data-raw-attrs="id=SCRIPT-r3d,type=module,src=/render3.js" />
<meta data-scripts="/helpers/render/unified.js?rev=1" />
<!-- <meta data-scripts="/logic/game.js" /> -->