<fieldset id="display-settings">
    <legend>Display Settings</legend>
    <div style="margin-bottom:0.5em;">
      <label for="board-zoom">Zoom</label>
      <input type="range" id="board-zoom" min="10" max="100" step="1" value="32" oninput="setTileSize()"><input type="button" value="reset zoom" onclick="document.getElementById('board-zoom').value='32';setTileSize();window.dispatchEvent(new CustomEvent('gameboard-fresize'));">
      <label for="settings-expand" id="settings-expand-label">Expand +</label>
      <input type="checkbox" id="settings-expand" hidden></input>
    </div>
    <div id="extra-display-settings" style="display: none">
      <!-- hover enabled/color -->
      <input type="checkbox" id="hover-enabled" checked>
      <label for="hover-enabled">Hover</label>
      <input type="color" id="hover-color" value="#000000" style="margin-bottom:0.5em;">
      <br>
      <!-- last move enabled/color -->
      <input type="checkbox" id="last-move-enabled" checked>
      <label for="last-move-enabled">Last move</label>
      <input type="color" id="last-move-color" value="#aaaaaa" style="margin-bottom:0.5em;">
      <br>
      <!-- volatile enabled/color -->
      <input type="checkbox" id="volatiles-enabled" checked>
      <label for="volatiles-enabled">Volatiles</label>
      <input type="color" id="volatiles-color" value="#dddddd" style="margin-bottom:0.5em;">
      <br>
      <!-- board rendering option -->
      <label for="board-rendering-option">Board Rendering:</label>
      <select id="board-rendering-option">
          <option value="1" selected>original</option>
          <!-- <option value="2" disabled>concentric (broken)</option> -->
          <option value="2">concentric</option>
          <!-- <option value="3" selected>spherical</option> -->
          <option value="3">spherical</option>
      </select>
      <div id="spherical-bloom-enabled" style="margin-top:0.5em;">
          <label for="spherical-enable-bloom">Bloom Enabled</label>
          <input type="checkbox" id="spherical-enable-bloom" checked>
      </div>
    </div>
  </fieldset>
  <meta data-scripts="/displaycontrols.js" />
  <!-- <script src="displaycontrols.js"></script>
  <script>window.alert("TEST");</script> -->