<div id="container-container">
    <div id="gameboard" class="container tile-hover volatiles" style="--blink-dark:#ddd;--tile-font-size:32;"></div>
    <span id="underboard-container">
        <span id="underboard-left">
            <input type="button" id="pingbutton" value="ping">
            <input type="button" id="startbutton" value="start" class="FLAG-host-only">
        </span>
        <span id="underboard-right">
            <span id="turn-time">Time: --:--</span>
        </span>
    </span>
</div>