div#info-sanction-area > div#isa-list {
    display: flex;
    flex-direction: column;
    max-height: 50ch;
    overflow-y: scroll;
    border: solid 2px black;
    width: fit-content;
    padding: 2px;
}
div.isa-sanction-item {
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px black;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
div.isa-sanction-rejects {
    display: flex;
    flex-direction: column;
    max-height: 5ch;
    overflow-y: scroll;
    border: solid 2px black;
    width: fit-content;
    padding: 2px;
}
div.isa-sanction-rejection {
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px black;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
