<style>
    div#account-name {
        position: absolute;
        right: 0px;
        top: 0px;
        margin-right: 5px;
        margin-top: 5px;
        span > img {
            height: 1.5em;
            aspect-ratio: 1/1;
            vertical-align: middle;
            clip-path: circle(50%);
        }
    }
</style>
<div id="account-name">
    <span>
        <label for="theme-select">Theme: </label>
        <select id="theme-select">
            <option value="light dark" selected>Auto</option>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
    </span>
    <span>
        <img src="/acc/pfp/get/%40self" hidden>
        <span>Loading </span><span>(<a href="/account/login" target="_self"></a>)</span>
    </span>
</div>
<meta data-scripts="/components/accounts/disp.js" />
