body {
    background-color: #ffffff;
    --blink-light: #fff;
}
#display-settings {
    margin-bottom: 10px;
    max-width: 500px;
}
#settings-expand-label {
    font-size: 20px;
    float: right;
    user-select: none;
    cursor: pointer;
}
#board-zoom {
    vertical-align: middle;
}
#container-container {
    width: fit-content;
    border: solid black 2px;
    overflow: hidden;
}
.container {
    display: grid;
    grid-template-columns: repeat(var(--ncols), fit-content(100%));
    grid-template-rows: repeat(var(--nrows), fit-content(100%));
    font-family: monospace, monospace;
    --tile-font-size: 32;
    font-size: calc(var(--tile-font-size) * 1px);
    user-select: none;
    --tile-hover: #0000001f;
    --tile-last-move: #aaa;
    --tile-volatile: #ddd;
}
.container > div {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
}
.container > div > div {
    pointer-events: none;
}
.container:hover {
    cursor: pointer;
}
.container.tile-hover > div:hover {
    background: var(--tile-hover);
}
.container.volatiles > div.volatile {
    background: var(--tile-volatile);
}
.last-move {
    background: var(--tile-last-move);
}
svg#render {
    width: 100%;
    height: 100%;
}
@keyframes blink {
    0%, 49% {background: var(--blink-light);}
    50%, 100% {background: var(--blink-dark);}
}
@keyframes blink2 {
    0%, 49% {background: var(--blink-dark);}
    50%, 100% {background: var(--blink-light);}
}
.blink {
    animation: blink var(--blink-dur, 0.5s) linear var(--blink-count, 3) alternate;
}
.blink2 {
    animation: blink var(--blink-dur, 0.5s) linear var(--blink-count, 3) forwards;
}
